.code {
  position: relative;
  line-height: 25px;
}

.code pre {
  padding: 0;
  margin: 0;
  border: 1px solid #f0f0f0;
}

.code .hljs {
  padding: 0;
}

.code__cursor {
  background: rgba(255, 255, 255, .2);
  position: absolute;
  top: 0;
  height: 25px;
  left: 0;
  right: 0;
  transition: top 0.1s ease-out 0.1s;
}

.controls {
  display: block;
  margin: 10px 0;
  padding-left: 1px;
}

.controls__button {
  padding: 10px 15px;
  border-radius: 1px;
  border: 0;
  background: #f52672;
  margin-left: 10px;
  color: #fff;
  font-size: 16px;
}

.controls__button:focus {
  box-shadow: none;
  outline: none;
}

.controls__button:disabled {
  background: #9fa1a1;
}

.controls__button:not(:disabled):hover {
  cursor: pointer;
}

.controls__button:first-child {
  margin-left: 0;
}

.queue-list {
  margin-top: 10px;
}

.queue {
  background: #f0f0f0;
  display: block;
  overflow: hidden;
  margin-top: 3px;
  line-height: 35px;
  padding-left: 5px;
}

.queue__item {
  color: #555;
  border: 1px solid #999;
  background: #f0f0f0;
  display: inline-block;
  line-height: 29px;
  padding: 0 15px;
  margin: 2px 4px 2px;
}

.queue__item--active {
  color: #fff;
  border: 0;
  background: #396bdc;
}

.queue__title {
  background: #e7e7e7;
  width: 200px;
  float: left;
  line-height: 35px;
}
